package com.lukaklacar.recenzija.dao.{{ model_name.lower() }};

import com.lukaklacar.recenzija.dao.AbstractDao;
import com.lukaklacar.recenzija.model.{{ model_name }};
import org.hibernate.Criteria;
import org.springframework.stereotype.Repository;

import java.util.List;

@Repository("{{ model_name.lower() }}Dao")
public class {{ model_name }}DaoImpl extends AbstractDao<Integer, {{ model_name }}> implements {{ model_name }}Dao {


    public {{ model_name }} get(int id) {
        return getEntityByKey(id);
    }

    public {{ model_name }} save({{ model_name }} {{ model_name.lower() }}) {
        persistEntity({{ model_name.lower() }});
        return {{ model_name.lower() }};
    }

    public List<{{ model_name }}> all() {
        Criteria criteria = createEntityCriteria();
        return (List<{{ model_name }}>) criteria.list();
    }

    public void delete({{ model_name }} {{ model_name.lower() }}) {
        deleteEntity({{ model_name.lower() }});
    }
}
