package com.lukaklacar.recenzija.service.{{ model_name.lower() }};

import com.lukaklacar.recenzija.model.{{ model_name }};

import java.util.List;

public interface {{ model_name }}Service {

	{{ model_name }} get(int id);

    void save({{ model_name }} {{ model_name.lower() }});

    void update({{ model_name }} {{ model_name.lower() }});

    List<{{ model_name }}> all();

}
